### FAKE NEWS DETECTION

##### importing the libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string
import nltk

In [2]:
from nltk.stem.porter import PorterStemmer

In [3]:
# nltk.download()

In [4]:
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [5]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [6]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
df_fake["class"] = 0
df_true["class"] = 1 #creating a class column this will serve as the label of the data

In [9]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [10]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
df_fake.shape

(23481, 5)

In [12]:
df_true.shape

(21417, 5)

In [13]:
df_merged = pd.concat([df_fake,df_true], axis = 0) #merging both dataframe frames into one dataframe

In [14]:
df_merged.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
df_merged = df_merged.sample(frac = 1) #shuffling the data

In [16]:
df_merged.head(15)

,title,text,subject,date,class
15809,MUST WATCH VIDEO: LISTEN TO OBAMA AND HIS COMM...,OBAMA SPEAKS ABOUT FRANK AND HIS MENTOR WHO SC...,politics,"Apr 19, 2015",0
12629,"After Brexit, UK aims for trade deal with EU t...",LONDON (Reuters) - Britain is aiming to secure...,worldnews,"December 10, 2017",1
12265,Watchdog says Gulf rift taking toll on ordinar...,DUBAI (Reuters) - Families are being torn apar...,worldnews,"December 14, 2017",1
9133,House votes to protect 'dark money' political ...,WASHINGTON (Reuters) - The Republican-controll...,politicsNews,"June 14, 2016",1
21332,ADMINISTRATORS FACE BACKLASH After Florida Mid...,We didn t mean to send a negative message. We...,left-news,"Nov 15, 2015",0
16576,NATIONAL SALARY? This Crazy Country Ready To V...,Swiss voters are deciding whether they want to...,Government News,"Jun 5, 2016",0
4794,"Trump tries to move past controversies, says h...",WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"March 22, 2017",1
20326,Protest greets former Trump adviser Bannon at ...,HONG KONG (Reuters) - Protesters outside a lux...,worldnews,"September 12, 2017",1
8376,Elizabeth Warren Has Some News As To Who She’...,If there s one person who is loved by all in t...,News,"February 2, 2016",0
12037,Voting to elect president of South Africa’s AN...,JOHANNESBURG (Reuters) - Voting for the new le...,worldnews,"December 18, 2017",1
57,U.S. lawmakers seek temporarily extension to i...,WASHINGTON (Reuters) - Republican leaders in t...,politicsNews,"December 21, 2017",1
21961,MORE QUESTIONS THAN ANSWERS: Was Sandy Hook Sh...,21st Century wire says The FBI recently releas...,US_News,"October 25, 2017",0
473,Sicko In Texas Wants To Make A Buck Off Harve...,"Late Monday night, CNN s Don Lemon had a phone...",News,"August 29, 2017",0
15930,UNREAL! RIGHT BEFORE MASSACRE…#LasVegas Concer...,"Just before the gunman began shooting, the Las...",Government News,"Oct 2, 2017",0
3286,"Netanyahu Whines About U.N. Resolution, Refus...",Israeli Prime Minister Benjamin Netanyahu thre...,News,"December 23, 2016",0

In [17]:
df_merged.reset_index(inplace = True) #resettting the index of the dataset
df_merged.drop(["index"], axis = 1, inplace = True)#dropping the old index of the dataset

In [18]:
df_merged.head(15)

,title,text,subject,date,class
0,MUST WATCH VIDEO: LISTEN TO OBAMA AND HIS COMM...,OBAMA SPEAKS ABOUT FRANK AND HIS MENTOR WHO SC...,politics,"Apr 19, 2015",0
1,"After Brexit, UK aims for trade deal with EU t...",LONDON (Reuters) - Britain is aiming to secure...,worldnews,"December 10, 2017",1
2,Watchdog says Gulf rift taking toll on ordinar...,DUBAI (Reuters) - Families are being torn apar...,worldnews,"December 14, 2017",1
3,House votes to protect 'dark money' political ...,WASHINGTON (Reuters) - The Republican-controll...,politicsNews,"June 14, 2016",1
4,ADMINISTRATORS FACE BACKLASH After Florida Mid...,We didn t mean to send a negative message. We...,left-news,"Nov 15, 2015",0
5,NATIONAL SALARY? This Crazy Country Ready To V...,Swiss voters are deciding whether they want to...,Government News,"Jun 5, 2016",0
6,"Trump tries to move past controversies, says h...",WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"March 22, 2017",1
7,Protest greets former Trump adviser Bannon at ...,HONG KONG (Reuters) - Protesters outside a lux...,worldnews,"September 12, 2017",1
8,Elizabeth Warren Has Some News As To Who She’...,If there s one person who is loved by all in t...,News,"February 2, 2016",0
9,Voting to elect president of South Africa’s AN...,JOHANNESBURG (Reuters) - Voting for the new le...,worldnews,"December 18, 2017",1
10,U.S. lawmakers seek temporarily extension to i...,WASHINGTON (Reuters) - Republican leaders in t...,politicsNews,"December 21, 2017",1
11,MORE QUESTIONS THAN ANSWERS: Was Sandy Hook Sh...,21st Century wire says The FBI recently releas...,US_News,"October 25, 2017",0
12,Sicko In Texas Wants To Make A Buck Off Harve...,"Late Monday night, CNN s Don Lemon had a phone...",News,"August 29, 2017",0
13,UNREAL! RIGHT BEFORE MASSACRE…#LasVegas Concer...,"Just before the gunman began shooting, the Las...",Government News,"Oct 2, 2017",0
14,"Netanyahu Whines About U.N. Resolution, Refus...",Israeli Prime Minister Benjamin Netanyahu thre...,News,"December 23, 2016",0

In [19]:
df_merged.shape

(44898, 5)

In [20]:
manual_test_df = df_merged.tail(20) #storing the last 20 rows in a new variable

In [21]:
manual_test_df.to_csv('manual_test_dataset.csv') #storing the dataset as a csv

In [22]:
df_merged.drop(df_merged.tail(20).index,inplace = True) #dropping the last 20 rows from our orignal dataset

In [23]:
df_merged.shape #checking the new shape of our dataset

(44878, 5)

In [24]:
df_merged['class'].value_counts()

0    23471
1    21407
Name: class, dtype: int64

In [25]:
df_copy = df_merged.copy(deep = True) #COPY OF DATASET WITHOUT TOKINIZATION OR STEMMING

##### Data Preprocessing

In [26]:
def wordopt(text):
    text = text.lower() #change text to lower  case
    text = re.sub('\[.*?\]', '', text) #remove all regex in the square box
    text = re.sub('https?://\S+|www\.\S+', '', text)#removes web addresses starting with https or www
    text = re.sub('\n', '', text) #removes all tab or new lines
    text = re.sub('[^a-zA-Z]',' ',text)#remove all strings that contains non letters
    return text

In [27]:
df_merged["text"] = df_merged["text"].apply(wordopt)

In [28]:
print(df_merged['text'])

0        obama speaks about frank and his mentor who sc...
1        london  reuters    britain is aiming to secure...
2        dubai  reuters    families are being torn apar...
3        washington  reuters    the republican controll...
4         we didn t mean to send a negative message  we...
                               ...
44873    unfortunately  our troops have been affected m...
44874    tallahassee  fla   reuters    florida lawmaker...
44875    washington  reuters    u s  president barack o...
44876    a four year old iowa boy died as the result of...
44877    jerusalem  reuters    israeli prime minister b...
Name: text, Length: 44878, dtype: object

##### Tokenization: splitting sentence into words

In [29]:
from nltk.tokenize import word_tokenize

In [30]:
df_merged['text'] = df_merged['text'].apply(word_tokenize)

In [31]:
print(df_merged['text'])

0        [obama, speaks, about, frank, and, his, mentor...
1        [london, reuters, britain, is, aiming, to, sec...
2        [dubai, reuters, families, are, being, torn, a...
3        [washington, reuters, the, republican, control...
4        [we, didn, t, mean, to, send, a, negative, mes...
                               ...
44873    [unfortunately, our, troops, have, been, affec...
44874    [tallahassee, fla, reuters, florida, lawmakers...
44875    [washington, reuters, u, s, president, barack,...
44876    [a, four, year, old, iowa, boy, died, as, the,...
44877    [jerusalem, reuters, israeli, prime, minister,...
Name: text, Length: 44878, dtype: object

##### Stop Word Removal

In [32]:
df_merged['text'] = df_merged['text'].apply(lambda x:[item for item in x if item not in STOPWORDS])

In [33]:
print(df_merged['text'])

0        [obama, speaks, frank, mentor, schooled, white...
1        [london, reuters, britain, aiming, secure, com...
2        [dubai, reuters, families, torn, apart, rift, ...
3        [washington, reuters, republican, controlled, ...
4        [mean, send, negative, message, wanted, positi...
                               ...
44873    [unfortunately, troops, affected, ignorance, a...
44874    [tallahassee, fla, reuters, florida, lawmakers...
44875    [washington, reuters, u, president, barack, ob...
44876    [four, year, old, iowa, boy, died, result, gun...
44877    [jerusalem, reuters, israeli, prime, minister,...
Name: text, Length: 44878, dtype: object

##### Stemming

In [34]:
ps = PorterStemmer()

In [35]:
def stemming(tokinized_text):
    text = [ps.stem(word) for word in tokinized_text]
    return text

In [37]:
df_merged['text'] = df_merged['text'].apply(lambda x: stemming(x))

In [38]:
print(df_merged['text'])

0        [obama, speak, frank, mentor, school, white, r...
1        [london, reuter, britain, aim, secur, comprehe...
2        [dubai, reuter, famili, torn, apart, rift, qat...
3        [washington, reuter, republican, control, u, h...
4        [mean, send, neg, messag, want, posit, yeah, t...
                               ...
44873    [unfortun, troop, affect, ignor, american, vot...
44874    [tallahasse, fla, reuter, florida, lawmak, wed...
44875    [washington, reuter, u, presid, barack, obama,...
44876    [four, year, old, iowa, boy, die, result, guns...
44877    [jerusalem, reuter, isra, prime, minist, benja...
Name: text, Length: 44878, dtype: object

In [39]:
df_merged['text'] = df_merged['text'].astype(str)

In [41]:
print(df_merged['text'])

0        ['obama', 'speak', 'frank', 'mentor', 'school'...
1        ['london', 'reuter', 'britain', 'aim', 'secur'...
2        ['dubai', 'reuter', 'famili', 'torn', 'apart',...
3        ['washington', 'reuter', 'republican', 'contro...
4        ['mean', 'send', 'neg', 'messag', 'want', 'pos...
                               ...
44873    ['unfortun', 'troop', 'affect', 'ignor', 'amer...
44874    ['tallahasse', 'fla', 'reuter', 'florida', 'la...
44875    ['washington', 'reuter', 'u', 'presid', 'barac...
44876    ['four', 'year', 'old', 'iowa', 'boy', 'die', ...
44877    ['jerusalem', 'reuter', 'isra', 'prime', 'mini...
Name: text, Length: 44878, dtype: object

#### DATA EXPLORATION/VISUALIZATION